// Define variables for your color scheme
$eerie-black: #1B1725;
$arsenic: #3F334D;
$dark-raspberry: #872657;
$mantis: #62C370;
$baby-powder: #FFFFFA;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
