<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'matthew-henry-T-G9PVLOfOY-unsplash.jpg' %>');">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to 'Read recipe', cocktail_path(cocktail), class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
