<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'matthew-henry-T-G9PVLOfOY-unsplash.jpg' %>');">
  <div class="container text-center">
    <h1 class="mb-4">Galaxy Drinks</h1>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'text-casing btn btn-primary btn-lg' %>
  </div>
</div>
<div class="container my-4">
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="col-lg-3">
        <div class="card rounded">
          <div class="card-body">
            <h2 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            <%= link_to 'Read recipe', cocktail_path(cocktail), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
