<h1><%= @cocktail.name %> details</h1>

<h2>Description</h2>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %></p>
<% end %>

<%= render 'doses/new' %>

<%= link_to 'Back to list', cocktails_path, class: 'btn btn-primary' %>

